body {
	background-color: #414141;
}

#map {
	margin: auto;
	padding: 0;
	border-spacing: 0;
	box-shadow: 0 0 100px rgba(0,0,0,0.5);
}

#map tr, #map td {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.tile, .avatar {
	width: 80px;
	height: 80px;
	background-color: #679E39;
	text-align: center;
}

.tile i {
	font-size: 50px;
}

.forest {
	color: rgb(31,86,0);
}

.mountain {
	color: #414141;
	background-color: #666;
}

.water {
	background-color: #28666C;
}

.treasure {
	color: #FFD700;
}

#players div {
	width: 50%;
	float: left;
}

#players .player1 {
	text-align: right;
}

.avatar, .player1, .player2 {
	font-size: 80px;
}

.player1 {
	color: rgb(0, 139, 255);
}

.player2 {
	color: rgb(255, 77, 0);
}

.avatar {
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
}