body {
	background-color: #414141;
}

#map {
	margin: auto;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

#map tr, #map td {
	padding: 0px;
	margin: 0px;
	border: 2px solid #414141;
	border-radius: 10px;
}
.tile, .avatar {
	width: 80px;
	height: 80px;
	background-color: #679E39;
	text-align: center;
}

.tile i {
	font-size: 50px;
}

.forest {
	color: rgb(31,86,0);
}

.mountain {
	color: #414141;
	background-color: #666;
}

.water {
	background-color: #28666C;
}

#players div {
	width: 46%;
	float: left;
}

#players .player1 {
	text-align: right;
}

#players .player1, #players .player2 {
	padding: 2%;
}

.avatar, .player1, .player2 {
	font-size: 60px;
}

.player1 {
	color: rgb(0, 139, 255);
}

.player2 {
	color: rgb(255, 77, 0);
}

.avatar {
	position: absolute;
	top: 0;
	right: 0;
	background: transparent;
	-webkit-transition: top 0.2s, left 0.2s;
	transition: top 0.2s, left 0.2s;
}

.fi-crown {
	color: #FFD700;
}

.avatar .fi-crown {
	color: #FFD700;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 30px;
}

#result {
	display: none;
	padding: 5% 0;
	background: rgba(0,0,0,0.3);
	color: white;
	font-size: 100px;
	height: 100px;
	margin-top: 10%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}